/*
● Font: https://fonts.google.com/specimen/Lato
Importar las versiones normal (400) y bold (700).
● Colores:
Fondo general: #fbfbfb
Fondo botón y footer: #af599e
Fondo de “Hablemos…” en sección contacto:
rgba(175, 89, 158, 0.3) Textos: #0f0f0f
Texto botón y footer: #fbfbfb
● Tamaños de texto:
Tamaño de texto general: 18px
Tamaño texto botón: 20px
Título principal: 36px
Títulos secundarios: 28px
● Interlineado 1.2
● Deben aplicar flexbox para alinear y distribuir los elementos.
● Tamaños y espaciados:
No vamos a exigir un resultado exactamente igual a la imagen dada de
referencia, pero dejamos algunas indicaciones:
● Alto del header y del footer: 90px (el header debería quedar fijo a
la parte superior de la ventana al scrollear)
● Las secciones deben ocupar la totalidad del alto de la pantalla.
Para eso pueden aplicarles un min-height: 100vh;
● Espaciado Párrafos: 20px arriba y debajo de cada párrafo
● Foto de presentación: ancho 400px
*/
:root{
    --color-primario: #101dae;
    --color-secundario: #fbfbfb;
    --color-terciario: #0f0f0f;
    --color-cuarto: #636bcb;
    --fuente-primaria: 'Lato', sans-serif;
    --texto-general: 18px;
    --texto-boton: 20px;
    --texto-titulo: 36px;
    --texto-secundario: 28px;
    --interlineado: 1.2;
    --altura-header-footer: 90px;
    --section-header: 100vh;
    --espaciado-parrafo: 20px;
    --ancho-foto: 400px;
}
html{
    scroll-behavior: smooth;
}
*,
*::before,
*::after{
    box-sizing: border-box;
}
.body{
    font-family: var(--fuente-primaria);
    font-size: var(--texto-general);
    line-height: var(--interlineado);
    margin: 0;
    padding: 0;
}
main{
    background-color: var(--color-secundario);
    color: var(--color-terciario);
    transition: 0.5s ease-in-out;
}
.header{
    height: var(--altura-header-footer);
    padding: 0 20px;
    box-shadow: 0px 0.3px 9px 0px rgba(0,0,0,0.45);
    position: sticky;
    top: 0;
    background-color: var(--color-secundario);
    transition: 0.5s ease-in-out;
}
.header-ul,
.header-list-title{
    padding: 0 20px;
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}
.header-ul{
   display: grid;
   grid-template-columns: 50% 50%;
   align-items: center;
}
.header-list-title{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.header-list-title li{
    height: 90px;
    display: grid;
    place-items: center;
    max-width: 100px;
    width: 100%;
}

.header-ul img{
    height: 80px;
}
.header-ul a,
.nav__link{
    text-decoration: none;
    color: var(--color-terciario);
    font-size: var(--texto-boton);
}

.nav__link--active,
.nav__link--active a{
    background-color: var(--color-cuarto);
    color:var(--color-secundario);
    text-decoration: underline;
}
.header-ul figure{
    place-items: start !important;
}
.header-ul img{
  height: 40px;
  place-items: start;
}
section{
    display: block;
}
.article-inicio,
.article-contacto{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: var(--section-header);
    padding: 0px 20px;
    scroll-behavior: smooth;
    text-align: center;
}
.header-ul figure,
.article-inicio figure{
    margin: 0;
    width: 100%;
    display: grid;
    place-items: center;
    margin-top: 2rem;
}
.article-inicio img{
    width: var(--ancho-foto);
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.download,
.button-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 15px;
    background:linear-gradient(45deg,var(--color-primario), var(--color-secundario));
    background-size: 200% 200%;
	animation: gradient 120s ease infinite;
    background:var(--color-primario);
    text-decoration: none;
    color: var(--color-secundario);
    border-radius: 30px;
    font-size: var(--texto-boton);
    width: 280px;
    margin: auto;
}
.button-modal{
  height: 30px;
  width: 100%;
  max-width: 150px;
  font-size: small;
  border: none;
  border-radius: 5px;
  margin: auto;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.title-principal{
    font-size: var(--texto-titulo);
    text-align: center;
    margin: 0;
}
.article-contacto{
    gap: 30px;
}
.article-contacto__hablemos{
    background-color: var(--color-cuarto);
    padding: 15px;
    border-radius: 10px;
    color:var(--color-secundario)
}
.article-contacto__hablemos h2{
    font-size: var(--texto-secundario);
    text-align: center;
    margin: 0;
}
.article-contacto__redes{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 100%;
    padding: 15px;
    list-style: none;
    padding: 0px;
}
.article-contacto__redes a{
    text-decoration: none;
    color: var(--color-terciario);
    font-size: var(--texto-boton);
}
.article-contacto__redes a img{
    width: 60px;
    height: 60px;
    margin: 0 10px;
}
.article-contacto__redes a img:hover{
    transform: scale(1.1);
}
.article-contacto__redes li:nth-child(1) img{
    width: 70px;
    height:70px;
}
footer{
    height: var(--altura-header-footer);
    background-color: var(--color-primario);
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:var(--color-secundario);
    transition: 0.5s ease-in-out;
    height: 140px;
}
.modal-nav{
    display: none !important;
}
@media (max-width: 580px) {
    .article-inicio img{
        width: 100%;
    }
    .article-inicio h1{
        margin-top: 10px;
    }
    .header-list-title{
        position: fixed;
        top: 0px;
        left: 0px;
        background-color: rgba(0,0,0,0.45);
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        z-index: 100;
        transition: all 1s;
        opacity: 0;
        visibility: hidden;
    }
    .header-list-title li {
        width: 100%;
        max-width: 100%;
        z-index: 100;
    }
    .active-modal{
        opacity: 1;
        visibility: visible;
    }
    .modal-nav{
        display: block !important;
    }
    .header-list-title a{
        color: var(--color-secundario);
    }
    .nav__link .nav__link--active{
        color: var(--color-secundario);
    }
    .header{
        display: grid;
    }
}

.button-temaColor{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 10px;
    left: 10px;
    border-radius: 50%;
    border: none;
    display: grid;
    place-items: center;
    z-index: 2;
}
.temaColor{
    position: fixed;
    width: 50px;
    height: 50px;
    z-index: 2;
}

.teme-check ~ .header,
.teme-check ~ main,
.teme-check ~ footer{
    --color-primario: #ffffff;
    --color-secundario: #000000;
    --color-terciario: #ffffff;
    --color-cuarto: #ffffff;
}
.teme-check  ~ .header{
    box-shadow: 0px 0.3px 9px 0px rgba(255, 255, 255, 0.45);
}

.teme-check  ~ main  .article-contacto__redes img{
    filter: invert(100%);
}

.teme-check  ~ .header  .header-ul img{
    filter: invert(1);
}

@media (min-width: 580px) {
    .article-inicio figure{
        margin-bottom: 5%;

    }
}

@media (min-width: 1000px) {
    .article-inicio{
        flex-direction: row;
    }
    .header-list-title{
        justify-content: flex-end;
    }

}
